In [1]:
import pandas as pd

In [2]:
data = {'Name': ['Henry', 'john', 'Devid', 'Holves', 'Margine', 'Simon', 'Robert', 'Trent'],
       'OverallGrade': ['A', 'C', 'F', 'B', 'E', 'A', 'B', 'C'],
       'Obident':['Y', 'N', 'N', 'Y', 'N','Y','Y','Y'],
       'ResearchScore':[90,85,10,75,20,92,60,75],
       'ProjectScore':[85,51,17,71,30,79,59,33],
       'Recommend':['yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pd.DataFrame(data)

In [3]:
df

      Name Obident OverallGrade  ProjectScore Recommend  ResearchScore
0    Henry       Y            A            85       yes             90
1     john       N            C            51       yes             85
2    Devid       N            F            17        no             10
3   Holves       Y            B            71        no             75
4  Margine       N            E            30        no             20
5    Simon       Y            A            79       yes             92
6   Robert       Y            B            59        no             60
7    Trent       Y            C            33        no             75

In [8]:
df.loc[[7]]

    Name Obident OverallGrade  ProjectScore Recommend  ResearchScore
7  Trent       Y            C            33        no             75

In [4]:
feature_names = ['Obident', 'OverallGrade', 'ProjectScore', 'ResearchScore']

In [5]:
training_feature = df[feature_names]

In [6]:
training_feature

  Obident OverallGrade  ProjectScore  ResearchScore
0       Y            A            85             90
1       N            C            51             85
2       N            F            17             10
3       Y            B            71             75
4       N            E            30             20
5       Y            A            79             92
6       Y            B            59             60
7       Y            C            33             75

In [7]:
outcome_name = ['Recommend']

In [8]:
outcome_label = df[outcome_name]
outcome_label

  Recommend
0       yes
1       yes
2        no
3        no
4        no
5       yes
6        no
7        no

In [9]:
numerical_feature = ['ProjectScore', 'ResearchScore']
categorical_feature = ['OverallGrade', 'Obident']

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
ss = StandardScaler()

In [12]:
ss.fit(training_feature[numerical_feature])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [13]:
training_feature[numerical_feature] = ss.transform(training_feature[numerical_feature])

/home/priyankat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/priyankat/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [14]:
training_feature

  Obident OverallGrade  ProjectScore  ResearchScore
0       Y            A      1.376650       0.899583
1       N            C     -0.091777       0.730648
2       N            F     -1.560203      -1.803390
3       Y            B      0.772004       0.392776
4       N            E     -0.998746      -1.465519
5       Y            A      1.117516       0.967158
6       Y            B      0.253735      -0.114032
7       Y            C     -0.869179       0.392776

In [15]:
categorical_feature

['OverallGrade', 'Obident']

In [16]:
training_feature = pd.get_dummies(training_feature, columns=categorical_feature)

In [17]:
training_feature

,ProjectScore,ResearchScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obident_N,Obident_Y
0,1.376650,0.899583,1,0,0,0,0,0,1
1,-0.091777,0.730648,0,0,1,0,0,1,0
2,-1.560203,-1.803390,0,0,0,0,1,1,0
3,0.772004,0.392776,0,1,0,0,0,0,1
4,-0.998746,-1.465519,0,0,0,1,0,1,0
5,1.117516,0.967158,1,0,0,0,0,0,1
6,0.253735,-0.114032,0,1,0,0,0,0,1
7,-0.869179,0.392776,0,0,1,0,0,0,1

In [18]:
training_feature.columns

Index(['ProjectScore', 'ResearchScore', 'OverallGrade_A', 'OverallGrade_B',
       'OverallGrade_C', 'OverallGrade_E', 'OverallGrade_F', 'Obident_N',
       'Obident_Y'],
      dtype='object')

In [19]:
numerical_feature

['ProjectScore', 'ResearchScore']

In [20]:
categorical_engineered_features = list(set(training_feature.columns)-set(numerical_feature))

In [21]:
categorical_engineered_features

['Obident_Y',
 'OverallGrade_F',
 'OverallGrade_B',
 'OverallGrade_A',
 'OverallGrade_C',
 'OverallGrade_E',
 'Obident_N']

In [22]:
training_feature[categorical_engineered_features]

,Obident_Y,OverallGrade_F,OverallGrade_B,OverallGrade_A,OverallGrade_C,OverallGrade_E,Obident_N
0,1,0,0,1,0,0,0
1,0,0,0,0,1,0,1
2,0,1,0,0,0,0,1
3,1,0,1,0,0,0,0
4,0,0,0,0,0,1,1
5,1,0,0,1,0,0,0
6,1,0,1,0,0,0,0
7,1,0,0,0,1,0,0

In [23]:
from sklearn.linear_model import LogisticRegression
import numpy as np
lr = LogisticRegression()
model = lr.fit(training_feature, np.array(outcome_label['Recommend']))
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
pred_labels = model.predict(training_feature)
actual_labels = np.array(outcome_label['Recommend'])
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
print("accuracy score = ",float(accuracy_score(actual_labels,pred_labels))*100)
print("classification stats = ")
print(classification_report(actual_labels, pred_labels))

accuracy score =  100.0
classification stats =
             precision    recall  f1-score   support

         no       1.00      1.00      1.00         5
        yes       1.00      1.00      1.00         3

avg / total       1.00      1.00      1.00         8

** Model Deployment **

In [25]:
from sklearn.externals import joblib
import os
if not os.path.exists('Model'):
    os.mkdir('Model')
if not os.path.exists('Scaler'):
    os.mkdir('Scaler')
    
joblib.dump(model, r'Model/model.pickle')
joblib.dump(ss, r'Scaler/scaler.pickle')

['Scaler/scaler.pickle']

** Prediction in Action **

In [26]:
model = joblib.load('Model/model.pickle')
scaler = joblib.load('Scaler/scaler.pickle')

In [27]:
new_df = pd.DataFrame({'Name':['Priyanka', 'shubham'],'OverallGrade':['F','A'], 'Obident':['N', 'Y'], 'ResearchScore':[30,78], 'ProjectScore':[20,80]})
new_df

       Name Obident OverallGrade  ProjectScore  ResearchScore
0  Priyanka       N            F            20             30
1   shubham       Y            A            80             78

In [28]:
feature_names

['Obident', 'OverallGrade', 'ProjectScore', 'ResearchScore']

In [30]:
prediction_features = new_df[feature_names]

In [31]:
numerical_feature

['ProjectScore', 'ResearchScore']

In [32]:
prediction_features[numerical_feature] = scaler.transform(prediction_features[numerical_feature])
prediction_features = pd.get_dummies(prediction_features, columns=categorical_feature)
prediction_features

/home/priyankat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/priyankat/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,ProjectScore,ResearchScore,OverallGrade_A,OverallGrade_F,Obident_N,Obident_Y
0,-1.430636,-1.127647,0,1,1,0
1,1.160705,0.494137,1,0,0,1

In [34]:
prediction_features.columns

Index(['ProjectScore', 'ResearchScore', 'OverallGrade_A', 'OverallGrade_F',
       'Obident_N', 'Obident_Y'],
      dtype='object')

In [36]:
categorical_engineered_features

['Obident_Y',
 'OverallGrade_F',
 'OverallGrade_B',
 'OverallGrade_A',
 'OverallGrade_C',
 'OverallGrade_E',
 'Obident_N']

In [37]:
current_categorical_engineered_features = set(prediction_features.columns)-set(numerical_feature)
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features
for feature in missing_features:
    prediction_features[feature] = [0] * len(prediction_features)
    
prediction_features

,ProjectScore,ResearchScore,OverallGrade_A,OverallGrade_F,Obident_N,Obident_Y,OverallGrade_E,OverallGrade_C,OverallGrade_B
0,-1.430636,-1.127647,0,1,1,0,0,0,0
1,1.160705,0.494137,1,0,0,1,0,0,0

In [38]:
predictions = model.predict(prediction_features)
new_df['Recommend'] = predictions
new_df

       Name Obident OverallGrade  ProjectScore  ResearchScore Recommend
0  Priyanka       N            F            20             30        no
1   shubham       Y            A            80             78       yes

In [48]:
df[['Name']].values[:, 0]

array(['Henry', 'john', 'Devid', 'Holves', 'Margine', 'Simon', 'Robert',
       'Trent'], dtype=object)

In [49]:
df

      Name Obident OverallGrade  ProjectScore Recommend  ResearchScore
0    Henry       Y            A            85       yes             90
1     john       N            C            51       yes             85
2    Devid       N            F            17        no             10
3   Holves       Y            B            71        no             75
4  Margine       N            E            30        no             20
5    Simon       Y            A            79       yes             92
6   Robert       Y            B            59        no             60
7    Trent       Y            C            33        no             75

In [1]:
from sklearn.datasets import load_breast_cancer